<!DOCTYPE html>

<html>

<head>

<style>
.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
</style>
  
  {% load staticfiles %}
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
 

	<link rel="stylesheet" href="{% static 'css/mish.css' %}">

	<title>EyeInfo</title>

</head>

<body>

 
    
  	<nav class="navbar navbar-inverse">
  		<div class="container-fluid">
  			<div class="navbar-header">
  				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>
  				<a class="navbar-brand" href="#">EyeInfo</a>
  			</div>
  			<div class="collapse navbar-collapse" id="myNavbar">
  				<ul class="nav navbar-nav">
  					<li class="active">
  						<a href="http://umkkaea539e4.mish.koding.io:7777/">Home</a>
  					</li>
  					<li>
  						<a href="http://umkkaea539e4.mish.koding.io:7777/profile/">Profile</a>
  					</li>
  					
  				</ul>
  				<ul class="nav navbar-nav navbar-right">
  					<li>
  						<a href="#">
  							<span class="glyphicon glyphicon-user"></span>
  							Sign Up
  						</a>
  					</li>
  					<li>
  						<a href="http://umkkaea539e4.mish.koding.io/fblogin-basic-master/fblogin-basic-master/index.php">
  							<span class="glyphicon glyphicon-log-in"></span>
  							Login
  						</a>
  					</li>
  				</ul>
  			</div>
  		</div>
  	</nav>



  <form action="/cut"  method='GET' enctype="multipart/form-data">
   {% csrf_token %} 
      {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        </div>
      {% endfor %}
 
  
  
  
 
   

 
  
  
  
    <div style="color: #333; 
        font-family: Courier; font-size: 2px; font-weight: bold;">
     
        
      {% for DBconList in DBcon %}
      
      <a1  rel="nofollow" style="text-decoration: none; color: #333;">
        <div class="center"><div class="jumbotron">{{ DBconList }} </div></div>
      </a1> 
      
      {% endfor %}
      
    </div>
    

    
    
    
    

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
  
  


 </body>

</html>